


<div class ="container">
  <p>Example of two way binding</p>
    <div class="row" >  
      <label for="recipeName">Recipe Name:</label>
      <input type="text"
      class="form-control"
      [(ngModel)]="recipeName"
      required
      
      >
    </div>


  <div class="row">
    <div class="col-xs-12">
      <hr>
      <button class="btn btn-primary" 
      
      (click)="onNewRecipe()">Add New Recipe</button>
      <hr>
      <h5 *ngFor= "let recipe of recipes"> 
        <ul>
        <li>{{recipe}}</li>
      </ul>
    </h5>
    
    </div>
  </div>

</div>
  
  
